<%- include('partials/header.ejs') %>
    <div id="blog">
      <h1><%= category + ': ' + title %></h1>
      <p><%= description %></p>
      <hr>
      <main>
        <%- post %>
      </main>
    </div>
<%- include('partials/footer.ejs') %>